@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.div {
    width: 340px;
    height: 490px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.image {
    border-radius: 10px;
}

.h1 {
    color: hsl(218, 44%, 22%);
    font-size: 24px;
    font-weight: 700;
    padding: 0 2rem;
}

.p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;   
    padding: 0 3rem;
}