.div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.check {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: none;
    border: 1px solid hsl(233, 11%, 84%);
}

.li:hover .check {
    border: double 1px transparent;
    border-radius: 50%;
    background-image:
        linear-gradient(white, white),
        linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
    ;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.p {
    font-size: 18px;
    color: hsl(235, 19%, 35%);
}