.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
  padding: 25vh 0 5rem;
}

.h1 {
  font-size: 38px;
  letter-spacing: 0.2em;
}

.ul {
  font-size: 24px;
  overflow-y: auto;
  padding: 0 2rem;
}

.li {
  margin-bottom: 1.5rem;
}

.li:hover {
  color: hsl(10, 80%, 45%);
}

.li:active {
  color: hsl(10, 80%, 25%);
}

@media (width <= 768px) {
  .main {
    padding-top: 0;
  }
  
  .h1 {
    font-size: 28px;
  }

  .ul {
    font-size: 18px;
  }
}