.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  gap: 2rem;
}

.h1 {
  font-size: 38px;
  text-decoration: underline;
  text-decoration-color: hsl(10, 80%, 45%);
  text-decoration-thickness: 2px;
}

.ul {
  font-size: 24px;
}

.li {
  margin-bottom: 1rem;
}

.li:hover {
  color: hsl(10, 80%, 45%);
}

.li:active {
  color: hsl(10, 80%, 25%);
}