.home {
    position: fixed;
    bottom: 1.5rem;
    left: 1rem;
    z-index: 9999;
    transition: 50ms linear;
}

.home:hover {
    transform: scale(1.5);
}

@media (width <= 768px) {
    .home {
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}