.header {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    z-index: 1;
}

.ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: -0.1rem;
}

.li:hover {
    position: relative;
}

.li:hover::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: white;
    bottom: -0.75rem;
    left: 20%;
    display: block;
}

.li:active {
    color: hsl(0, 0%, 0%);
}

.li:active::after {
    background-color: black;
}

@media (width <= 768px) {
    .header {
        width: 100vw;
        justify-content: center;
        top: 3rem;
        left: 0;
    }

    .ul {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
}