@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: hsl(217, 54%, 11%);
  }

  .div {
    width: 330px;
    height: 550px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    gap: 1rem;
  }

  .h1 {
    font-size: 22px;
    align-self: flex-start;
    padding: 0 2rem;
  }

  .h1:hover {
    color: hsl(178, 100%, 50%);
  }

  .p {
    font-size: 18px;
    padding: 0 2rem;
    color: hsl(215, 51%, 70%)
  }

  .infoDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
  }

  .pImage {
    border-radius: 10px;
  }

  .viewImage {
    opacity: 0;
  }
  .pImage:hover.viewImage {
    opacity: 1;

  }

  .price {
    text-align: left;
    color: hsl(178, 100%, 50%);
  }

  .time {
    color: hsl(215, 51%, 70%)
  }

  .line {
    width: 80%;
    border-color: hsl(215, 32%, 27%);
  }

  .c1 {
    color: hsl(215, 51%, 70%);
  }

  .ay7aga {
    color: white;
  }

  .ay7aga:hover {
    color: hsl(178, 100%, 50%);
  }

  .bottomDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0 2rem;
    align-self: flex-start;
}

.gay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}