@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: hsl(217, 54%, 11%);
}

.section {
    font-family: 'Outfit', sans-serif;
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    padding: 1rem;
}

.pImageDiv {
    position: relative;
}

.pImage {
    border-radius: 10px;
    cursor: pointer;
    transition: 50ms ease-in-out;
}

.pImageDiv:hover .pImage {
    filter: sepia(100%) hue-rotate(150deg) saturate(500%) brightness(200%);
}

.pImageDiv:hover::before {
    content: '';
    /* background-image: url('/nft-preview-card/icon-view.svg'); */
    background-image: url('../../public/nft-preview-card/icon-view.svg');
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.h1 {
    font-size: 22px;
    padding: 0 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.h1:hover {
    color: hsl(178, 100%, 50%);
}

.p {
    font-size: 18px;
    padding: 0 1rem;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.infoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.price {
    text-align: left;
    color: hsl(178, 100%, 50%);
}

.time {
    color: hsl(215, 51%, 70%)
}

.hr {
    width: 90%;
    border: none;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.bottomDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    padding: 0 1rem 1rem;
    width: 100%;
}

.bottomText {
    color: hsl(215, 51%, 70%);
}

.spanText {
    color: white;
    cursor: pointer;
}

.spanText:hover {
    color: hsl(178, 100%, 50%);
}